drg-slider,
[drg-slider] {
    position: relative;
    display:  block;

    &, & * {
        box-sizing: border-box;
    }

    drg-slider-knob,
    [drg-slider-knob] {
        position:         absolute;
        display:          block;
        -ms-touch-action: none;
        touch-action:     none;
    }

    drg-slider-bar,
    [drg-slider-bar] {
        position:         absolute;
        display:          block;
        -ms-touch-action: none;
        touch-action:     none;
    }
}
